<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
    <title>SweetBeeCakesProductPage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light aqua-text head fixed-top">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="mainpage" src="/icons/bakery-logo.png" alt="logo"></a>
      <div class="collapse navbar-collapse " id="navbarNavDropdown">
        <div class="row">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#" id="aboutLink">About</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/" id="cakesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
              </a>
              <div class="dropdown-menu" aria-labelledby="cakesDropdown">
                <% types.forEach(type => { %>
                  <a class="dropdown-item" href="/search"><%= type %></a>
                <% }); %>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/" data-toggle="modal" data-target="#specialModal">Specials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="deliveryLink">Delivery</a>
            </li>
          </ul>
        </div>
        <div class="navbar-nav ml-auto text-center d-flex flex-row">
          </ul>
          <li class="nav-item">
            <a class="nav-link" href="#" id="searchIcon"><i class="bi bi-search"></i></a>
          </li>
          <div id="searchFormContainer" style="display: none;">
            <form action="/search" method="GET" id="searchForm">
              <input type="text" name="prod_name" placeholder="Search...">
              <button type="submit">Search</button>
            </form>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="/signin"><i class="bi bi-person login"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cart"><i class="bi bi-bag cart"></i></a>
          </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="modal fade " id="specialModal" tabindex="-1" role="dialog" aria-labelledby="specialModalLabel" aria-hidden="true">
      <div class="modal-dialog " role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="specialModalLabel">Limited Time 50% off</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>All carrot cakes bought before December 25th 2023.
              Get them while supplies last!</P>
            <a href="#">Specials</a>
            <!--put link for carrot cake-->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary " data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <section class="container mt-4">
      <h1><%= product.name %></h1>
      <div class="product-details" id="detail">
        <div class="row">
          <div class="col-md-6">
            <img src="/<%= product.image %>" alt="<%= product.name %>" class="img-fluid">
          </div>
          <div class="col-md-6">
            <h2>Product Details</h2>
            <h5><%= product.description %></h5>
            <h5><b>Details:</b>  <%= product.details %></h5>
            <h5><b>Size:</b>  <%= product.size %></h5>
            <h5><b>Price: $</b>  <%= product.price %></h5>
    
            <form action="/api/cart/<%= product.id %>" method="post">
              <input type="hidden" name="productId" value="<%= product.id %>">
          
              <label for="quantity">Quantity:</label>
              <input type="number" id="quantity" name="quantity" value="1" min="1">
    
              <button type="submit"class="btn aqua-text">Add to Cart</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class=" row lower">
        <div class="col-sm-4">
          <a href="/"><img src="/icons/bakery-logo.png" class="img-fluid" id="pic" alt="logo"></a>
          <p class="copy">©2023 Sweet Bee Cakes. All Rights Reserved</p>
        </div>
        <div class="col-sm-4">
          <form class="form-inline text-center">
            <p>Bee Come a Member EClub</p>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email"><button type="submit" class="btn aqua-text">Join</button>
          </form>
        </div>
        <div class="col-sm-4">
          <a href="#"><i class="bi bi-facebook"></i></a>&emsp;<a href="#"><i class="bi bi-twitter"></i></a>&emsp;<a href="#"><i class="bi bi-instagram"></i></a>
        </div>
        
      </section>
      <footer>
        <div class="row text-center">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <a href="#">privacy policy</a>
          </div>
          <div class="col-md-4">
            <a href="#">Contact Us</a>
          </div>
        </div>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
      <script src="/scripts/index.js"></script>
    </body>
  </html> 
